<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <!--<customErrors mode="Off" />-->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <!--<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpRuntime maxRequestLength="131072" executionTimeout="3600"/>


    <sessionState timeout="60"  />
  </system.web>
  <appSettings>
    <add key="ServerURL" value="http://corpdc08"/>
    <add key="VD" value=""/>
    <add key="appTitle" value="SISTEMA PARA LA ADMINISTRACIÓN DE SERVICIOS NOTARIALES"/>
    <add key="appLogo" value="C:\Proyectos\Extra\Proyecto\Proyecto\WebJuridico\Images\logo.gif"/>
  
    <add key="flagWebConection" value="false"/>
    <add key="WebConection" value="Data Source=189.211.174.142\SQLCEMEX; Initial Catalog=AdmJurProdDB_2; Persist Security Info=True;User ID=sello;Password=sello;"/>
    
      
  </appSettings>
  <connectionStrings>
    <!--<add name="WebConection"
       connectionString="Initial Catalog=aspnetdb;Data Source=189.211.174.142\SQLCEMEX; Initial Catalog=AdminJurProdDB_2; Persist Security Info=True;User ID=sello;Password=sello;" />-->

    <add name="WebConection" connectionString="Data Source=DESKTOP-64L4QBN\SQLEXPRESS; Initial Catalog=AdminJurProdDB; Persist Security Info=True;User ID=sa;Password=Arquimides1;" />
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="134217728"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
</configuration>